<br>
<div class="container">
  
  <app-navbar></app-navbar>

    <div class="row justify-content-md-center">   
        <div class="col-md-6 border"  >
                <h4 class="custom-h4">AGREGAR UN VEHICULO</h4>     
                <form (ngSubmit)="agregarVehiculo()" >
                  <div class="row">
                    <small><label for="password">Patente:</label></small>
                    <div class="col-md-12">
                      <input style="height: 40px;" type="text" id="monto" placeholder="" [(ngModel)]="patente" name="monto" class="form-control mb-3"
                        required="" placeholder="Ingrese una patente">
                    </div>                 
                    <br>         
                    <br>
                    <div class="col-md-12">
                      <input class="custom-button custom-button-success btn-block my-3" type="submit" value="AGREGAR">
                    </div>
                    <div class="alert alert-danger" *ngIf="me" role="alert">
                      {{mensajeError}}
                  </div>
                  </div>
                </form>
                <h5 class="custom-h4">MIS VEHICULOS:</h5>
                <div class="items-container">
                  <div *ngFor="let item of vehicles" class="item"><b>{{ item.patente }}</b></div>
                </div>        
    </div>
    </div>
    <footer class="row justify-content-md-center" style="border-top: 1px solid #0C1340;">
      <div class="col-md-4">       
        <p>© 2023 Mi Estacionamiento. Todos los derechos reservados.</p>
      </div>
    </footer>
</div>      